/* GENERAL */
body {
  background-color: #33698A;
  color: #0E2237;
  font-family: 'Lato', sans-serif;
  margin-top: 153px;
}

.container {
  /*margin-top: 30px;*/
  background-color: #33698A;
}

div {
  /*border: 1px solid red;*/
}

p {
  font-size: 16px;
}

/*33698A*/

/* TITLE BAR */
.top-bar {
  background-color: #f4fdff;
  color: #0E2237;
  padding: 1px 0px 0px 0px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.top-bar h2 {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 50px;
  /*display: inline-block;*/
}

.social-links {
  text-align: right;
  display: inline-block;
}

/* NAV BAR */

.my-nav-bar {
  background-color: #0E2237;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.my-nav-bar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
/*  width: 50%;
  min-width: 376px;*/
  width: 385px;
  border-radius: 3px;
}

.my-nav-bar li {
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 5px 0 5px 0;
  /*border-right: 1px solid #0E2237;*/
}

/*.my-nav-bar li:last-child {
    border-right: none;
}*/

.my-nav-bar div {
  display: block;
  padding: 9px 16px;
  text-align: center;
  color: #0E2237;
  background-color: #edffdd;
  text-decoration: none;
  border-radius: 3px;
}

.my-nav-bar li div:hover:not(.active) {
    background-color: #ddefce;
    cursor: pointer;
}

.my-nav-bar .active {
    background-color: #b5d897;
}

/* COMMON */
.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.padding-left {
  padding-left: 15px;
}


/* CONTENT */



.content {
  margin-top: 153px;
  overflow-y: auto;
  /*overflow: scroll;*/
}

.img-school {
  width: 100%;
  height: auto;
  float: right;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#headshot {
  height: 150px;
  border-radius: 2%; 
}

.img-activities {
  height: 200px;
}

.heading {
  text-align: center;
  height: 100%;
}

.university-title {
  margin-top: 0;
}

.card {
  border-radius: 4px;
  background-color: #f4fdff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.description {
  text-align: left;
}